@clockFontSize: 70px;
@dateFontSize: 20px;

.clockText {
    font-size: @clockFontSize;
    height: @clockFontSize;
    line-height: @clockFontSize !important;
    //text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.dateText {
    font-size: @dateFontSize;
    height: @dateFontSize;
    line-height: @dateFontSize !important;
    //text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}